*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* inzio utilities */
.contenitore{
    width: 1500px;
    background-color: aqua;
    /* height: 500px; */
    margin: 50px auto;
    padding: 10px 100px;
}
/* fine utilities */
body{
    background-color: aliceblue;
}
/* Inizio header */
.titolo{
    display: inline-block;
    font-size: 60px;
}
header{
    background-color: white;
}
header > img{
    margin-left: 10px;
}
/* Fine header */

/* inzio mav */
nav{
    margin: 100px; 
}
.nav_button{
    padding: 10px;
    border-radius: 10%;
}    
.Add_task{
    background-color: rgba(71,173,241,255);
    border-color: rgba(71,173,241,255);
    color: white;
}
.Add_section{
    background-color: rgba(255,255,255,255);
    border-color: rgba(255,255,255,255);
    color: gray;
}
/* fine nav */

/* Inzio main */
li{
    list-style-type: none;

}
.Titolo_lista{
    font-weight: bold;
    font-size: 25px;    
}
.Eventi{
    font-size: 20px;
}

.Eventi::before{
    content: ' \2713';
    border: solid green 1px;
    border-radius: 50%;
    height: 10px;
    width:  10px;
    font-size: 15px;
    padding: 5px;   
}

/* Fine main */
